* {
}
main {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


main .btn {
  border: 1px solid black;
  background-color: #0000ff;
  color: white;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  transition: all 0.2s ease;
  z-index: 10;
}

.grid{
  margin:auto;
  display:grid;
  grid-gap:10px;
  padding: 10px;
  /* width: 410px;
  height: 410px; */
  grid-template-columns: repeat(2,auto);
  justify-content: center;
}

.level{
  /* width: 50%;
  height: 50%; */
  padding: 20px;
  justify-content: center;
  align-items: center;
  /* width: 100px;
  height: 100px; */
}

.levelImage{
  width: 100%;
  height: 100%;
}

.elevenPlusLevel{
  /* background-color: #DFED11; */
}

.GCSELevel{
  /* background-color: #29b6f6; */
}

.background{
  background-color: white;
  color: black;
  width: 80vw;
  border-radius: 5px;
  left: 9.3vw;
  /* padding: 10px; */
  box-shadow: 0 0 10px 2px;
  transition: all 0.5s ease;
  /* position: relative; */
}
main .paragraph {
  color: black;
  background-color: white;
  padding: 5px;
  margin: 1vw;
  margin-top: 0;
  display: inline-block;
  width: inherit;
  /* border: 2px solid black; */
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  /* height: 1000px; */
}
