{% extends "base.html" %}
{% block title %}68 Duck{% endblock %}
{% block links %}<link rel="stylesheet" href="{{url_for('static',filename='elevenPlusQuizStyle.css')}}" type="text/css">{% endblock %}
{% block scripts %}<script src="{{url_for('static', filename='quiz.js')}}" type="text/javascript"></script>{% endblock %}
{% block header %}
11+ Quiz
{% endblock %}
{% block content %}
<br/>
<div id ="questionBackground" class="questionContainer">
  <div id="question" class="question"></div>
  <div id = "answers" class="answers"></div>
  <button class="btn hide nextBtn">Next</button>
  </div>
</div>

{% endblock %}
